apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-service
  namespace: urbanops
  labels:
    app: python-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-service
  template:
    metadata:
      labels:
        app: python-service
    spec:
      containers:
        - name: python-service
          image: nithingowdahm87/hackathon-python-service:latest
          ports:
            - containerPort: 8000
          env:
            - name: DATABASE_URL
              value: postgresql://postgres:postgres@postgres.urbanops.svc.cluster.local:5432/urbanops
